@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "kanit", sans-serif;
}

.nav-container {
    width: 100vw;
    margin: 0 auto;
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 40px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 55px;
    margin-right: 30px;
    height: 40px;

}

.loc {
    width: 18px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.left-nav {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 20px;
    letter-spacing: 2px;

}

.nav-links a {
    color: rgb(39, 42, 41);
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.right-nav {
    display: flex;
    align-items: center;
    gap: 16px;
    letter-spacing: 1px;
}

.store-location {
    color: rgb(39, 42, 41);
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.store-location span {
    margin-right: 6px;
}

.signin {
    padding: 6px 14px;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.signin:hover {
    background-color: #ebdfdf;
}

.Joinnow {
    padding: 6px 14px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.Joinnow:hover {
    background-color: #434242;
}

.first-section {
    display: flex;
    width: 100%;
    margin: 40px auto;
    border-radius: 4px;
    overflow: hidden;
    padding: 0 45px;

}

.text-col {
    flex: 1;
    background-color: #32462f;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}

.text-col h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 20px;
    padding: 0 165px;
}

.text-col p {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 30px;
    padding: 0 80px;
}

.btn {
    padding: 10px 20px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    width: 160px;
    align-self: center;
    border-radius: 20px;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #233320;
}

.image-col {
    flex: 1;
}

.image-col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.second .text-col {
    background-color: #5f4633;
}

.second .text-col h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

.second .text-col p {
    font-size: 19px;
    font-weight: 400;
    line-height: 33px;
}

.btn2 {
    padding: 10px 20px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    width: 160px;
    align-self: center;
    border-radius: 20px;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn2:hover {
    background-color: #4c392a;
}

.fourth .text-col {
    background-color: #006442;
}

.btn4 {
    padding: 10px 20px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    width: 160px;
    align-self: center;
    border-radius: 20px;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn4:hover {
    background-color: #005337;
}